
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(5vw);
}

.main-grid > div, .grille-single > div {
    width: calc(100% - 30px);
    height: calc(37.5vh);

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--secondary);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

}

.main-grid > div > div {
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-grid > div > div::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 880px) {
    .main-grid {
        grid-template-columns: 1fr;
        margin: calc(10vw);
    }
    
}

@media screen and (max-width: 560px) {
    .main-grid {
        margin: 0;
    }
    
}


.grille-single {
    text-align: center;
    width: calc(100% - 20vw);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: calc(1vw);
    padding: 0 calc(10vw);
}

.grille-single > div {
    width: 50%;
    text-align: left;
}

.grille-single > div > a {
    text-align: center;
}