#imageSection {
    text-align: center;
}

.cover {
    width: 200px;
    border: solid 3px var(--accent);
}



.green-card {
    background-color: var(--primary) !important;
}

#up {
    text-align: center;
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 30px;
    border: solid 3px var(--accent);
    border-radius: 50%;
    /* bring it to foreground */
    z-index: 1;
}

#up::before {
    bottom: -5px;
}