.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    padding: 0;
}


.cover {
    width: 200px;
    border: solid 3px var(--accent);
}

.green-text {
    color: var(--primary) !important;
}

.gray-text {
    color: var(--secondary) !important;
}

.green-card {
    background-color: var(--primary) !important;
}

.gray-card {
    background-color: var(--secondary) !important;
}

#up {
    text-align: center;
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 30px;
    border: solid 3px var(--accent);
    border-radius: 50%;
    /* bring it to foreground */
    z-index: 1;
}

#up::before {
    bottom: -5px;
}


.current {
    background-color: var(--secondary) !important;
}
